@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.flipRow {
  animation: flip 0.5s ease forwards;
}
.flipRow:nth-child(2) {
  animation-delay: 0.3s;
}
.flipRow:nth-child(3) {
  animation-delay: 0.6s;
}
.flipRow:nth-child(4) {
  animation-delay: 0.9s;
}
.flipRow:nth-child(5) {
  animation-delay: 1.2s;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    background: white;
    border: 2px solid #6b7280;
    color: black;
  }
  45% {
    transform: rotateX(90deg);
    background: white;
    border: 2px solid #6b7280;
    color: black;
  }
  55% {
    transform: rotateX(90deg);
    background: #6AAA64;
    border: 2px solid #6AAA64;
    color: white;
  }
  100% {
    transform: rotateX(0);
    background: #6AAA64;
    border: 2px solid #6AAA64;
    color: white;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.carousel-container:before,
.carousel-container:after,
.delivery-container:before,
.delivery-container:after {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}

.carousel-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #008BE7);
}

.carousel-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #008BE7);
}

.delivery-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #FFFFFF);
}

.delivery-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF);
}

.carousel-container:hover .carousel,
.delivery-container:hover .carousel {
  animation-play-state: paused;
}

.carousel {
  animation: 10s slide infinite linear;
}

.carousel-image {
  display: inline;
}

